<div class="welcome-modal" ng-controller="VerifyController as verifyCtrl">
    <h1 class="welcome-title">Verification in progress</h1>
    <p class="welcome-text">Please wait for a while...</p>
</div>