<div class="well well-lg" ng-controller="ForgotPasswordController as forgotPasswordCtrl">
    <h5>Forgot your password?</h5>
    <div class="alert alert-success" ng-show="forgotPasswordCtrl.successMessage">
        {{forgotPasswordCtrl.successMessage}}
    </div>
    <div class="alert alert-warning" ng-show="forgotPasswordCtrl.failMessage">
        {{forgotPasswordCtrl.failMessage}}
    </div>
    <form name="forgotpasswordform">
        <input type="text" class="form-control"
               ng-model="forgotPasswordCtrl.email"
               placeholder="Enter your email" 
               required/>
        <button type="submit"
                class="btn btn-info btn-block forgotpassword-button"
                ng-click="forgotPasswordCtrl.sendResetPassword()"
                ng-disabled="forgotPasswordCtrl.isSending || !forgotpasswordform.$valid">
            {{forgotPasswordCtrl.isSending ? 'Please wait...' : 'Send'}}
        </button>
    </form>
</div>
