<div class="well well-lg" ng-controller="ResetPasswordController as resetPasswordCtrl">
    <h5>Reset password</h5>
    <div class="alert alert-warning" ng-show="resetPasswordCtrl.failMessage">
        {{resetPasswordCtrl.failMessage}}
    </div>
    <form name="resetpasswordform">
        <input type="password" class="form-control"
               ng-model="resetPasswordCtrl.newPassword"
               placeholder="Enter new password" />
        <input type="password" class="form-control"
               ng-model="resetPasswordCtrl.confirmPassword"
               placeholder="Confirm new password" />
        <button type="submit"
                class="btn btn-info btn-block resetpassword-button"
                ng-click="resetPasswordCtrl.resetPassword()"
                ng-disabled="resetPasswordCtrl.isSending">
            {{resetPasswordCtrl.isSending ? 'Please wait...' : 'Update'}}
        </button>
    </form>
</div>