<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div ui-view="userProfile"></div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Votes</h1>
                </div>
                <div class="panel-body">
                    <div ui-view="userVote"></div>
                </div>
            </div>
        </div>
    </div>
</div>