<div class="col-sm-offset-1 col-sm-10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">About Groomgy</h1>
        </div>
        <div class="panel-body">
            <p>
                <strong>Hello visitor!</strong>
                <br />
                <strong>Thanks for visiting Groomgy.com!</strong>
                <br />
                <br />
                Groomgy is about people, we aim to bring people from all over the world together to <a ui-sref="account">discover, share and connect</a>.
                <br />
                Discover relationships – friendship, love, and companionship through <a ui-sref="account">messaging</a> and through pictures that you share on Groomgy.
                <br />
                Vote and be voted to have your profile featured on the <a ui-sref="tops">Tops page</a>.
                <br />
                Join us now and meet awesome people like yourself!
                <br />
                <span class="signature">~ the Groomgy team</span>
            </p>
        </div>
    </div>
</div>